page-change-password {
    ion-header {
        ion-navbar {
            flex-direction: column !important;
    
            button {
                align-self: baseline;
                margin-top: 5px !important;
            }
    
            div.toolbar-content {
                align-self: left;
                margin-top: 12px;
                margin-left: 5px;
                margin-bottom: 28px;
    
                ion-title {
                    .toolbar-title:after {
                        margin:auto;
                    }
                }
            }
        }

        &::after {
            display: none !important;
        }
    }

    ion-content {
        background: #3B3939 !important;

        ion-row {
            padding: 0 12px 6px 12px;

            ion-input, ion-textarea {
                background: #f4f4f4;
                color: #535353;

                &.divider {
                    margin-right: 6px;
                }
            }

        }
    }
}
