<!-- PRIVACY POLICY -->
<h3>Privacy Policy</h3>

<p>
  Australian Stock Market - Trade Talk (“Trade Talk”) takes your privacy seriously. Please read the following to learn more
  about our privacy policy.
</p>

<h4>What This Privacy Policy Covers</h4>
<ul>
  <li>
    This policy covers how Trade Talk treats personal information that Trade Talk collects and receives, including information
    related to your past use of Trade Talk products and services. Personal information is information about you that is personally
    identifiable like your name, address, email address, or phone number, and that is not otherwise publicly available.
  </li>
</ul>

<h4>Information Collection and Use</h4>
<ul>
  <li>
    Trade Talk collects personal information when you register with Trade Talk, when you use Trade Talk or the pages of certain
    Trade Talk partners.
  </li>
  <li>
    When you register we ask for information. Once you register with Trade Talk and sign in to our services, you are not anonymous
    to us.
  </li>
  <li>
    Trade Talk collects information about your activities with us and with some of our business partners.
  </li>
  <li>
    Trade Talk automatically receives and records information on our server logs from your browser, including your IP address,
    Trade Talk cookie information, and the page you request.
  </li>
  <li>
    Trade Talk uses information for the following general purposes: to customize the advertising and content you see, fulfil
    your requests for products and services, improve our services, contact you, conduct research, and provide anonymous reporting
    for internal and external clients.
  </li>
</ul>

<h4>Information Sharing and Disclosure</h4>
<ul>
  <li>
    Trade Talk does not rent, sell, or share personal information about you with other people or non-affiliated companies except
    to provide products or services you've requested, when we have your permission, or under the following circumstances:

    <ul>
      <li>
        We will email you information on behalf of our partners however we will never give them your private information. All communication
        about their products or offers will come from Trade Talk.
      </li>
      <li>
        We believe it is necessary to share information in order to investigate, prevent, or take action regarding illegal activities,
        suspected fraud, situations involving potential threats to the physical safety of any person, violations of Trade
        Talk's terms of use, or as otherwise required by law.
      </li>
      <li>
        We will share any information in our possession with the ASIC, ASX Surveillance, the Australian Federal Police, the State
        Police of any Australian Jurisdiction, any Australian Court and any other enforcement or regulatory body if we think
        they have a reasonable reason to use this information to fulfil their role and responsibility and any legal duties
        including the detection, prevention, investigation, or prosecution of any criminal offences or improper conduct or
        in relation to preparation for or conduct of court or tribunal proceedings or orders.
      </li>
      <li>
        We transfer information about you if Trade Talk is acquired by or merged with another company. In this event, Trade Talk
        will notify you before information about you is transferred and becomes subject to a different privacy policy.
      </li>
    </ul>
  </li>
  <li>
    Trade Talk may grant some of our service providers access to some private data where it is a necessary part of the services
    they provide to Trade Talk. This will always be under confidentiality agreements and they will be limited to using or
    retaining the data as required to provide services to Trade Talk.
  </li>
  <li>
    Trade Talk will be displaying your partial IP Address (first or last half of address) and your user name, Trade Talk does
    not consider this partial information to be a disclosure of your private information however we acknowledge this information
    in our Privacy Policy. Should you not wish this information to be displayed you should seek professional technical advice.
  </li>
  <li>
    Trade Talk displays targeted advertisements based on personal information. Advertisers (including ad serving companies) may
    assume that people who interact with, view, or click on targeted ads meet the targeting criteria.

    <ul>
      <li>
        Trade Talk does not provide any personal information to the advertiser when you interact with or view a targeted ad. However,
        by interacting with or viewing an ad you are consenting to the possibility that the advertiser will make the assumption
        that you meet the targeting criteria used to display the ad.
      </li>
    </ul>
  </li>
</ul>

<h4>Cookies</h4>
<ul>
  <li>
    Trade Talk may set and access Trade Talk cookies on your computer.
  </li>
  <li>
    Other companies that show advertisements on some of our pages may set and access their cookies on your computer. Other companies'
    use of their cookies is subject to their own privacy policies, not this one. Advertisers or other companies do not have
    access to Trade Talk's cookies.
  </li>
</ul>

<h4>Your Ability to Edit and Delete Your Account Information and Preferences</h4>
<ul>
  <li>
    You can edit your Account Information at any time.
  </li>
  <li>
    New categories of marketing communications may be added from time to time. Users who visit their account settings page can
    opt out of receiving future marketing communications from these new categories or they can unsubscribe by following instructions
    contained in the messages they receive.
  </li>
  <li>
    We reserve the right to send you certain communications relating to the Trade Talk service, such as service announcements
    and administrative messages. Trade Talk also reserves the right to remove your account if you opt out of receiving advertising
    material from Trade Talk
  </li>
  <li>
    You can cancel your account and/or have your private information removed from your Trade Talk account by contacting Trade
    Talk support (via the support feature available on the website) and asking to have your account deleted and/or have your
    private information removed. To run our forum efficiently and comply with business obligations and ASIC regulations,
    we are required to keep information about members for a period of time. If you request removal of your private information
    as described above, it will only be removed after these time periods have elapsed.
  </li>
</ul>

<h4>Confidentiality and Security</h4>
<ul>
  <li>
    We limit access to personal information about you to employees who we believe reasonably need to come into contact with that
    information to provide products or services to you or in order to do their jobs.
  </li>
  <li>
    We have physical, electronic, and procedural safeguards that comply with federal regulations to protect personal information
    about you.
  </li>
</ul>

<h4>Changes to this Privacy Policy</h4>
<ul>
  <li>
    Trade Talk may update this policy. We will notify you about significant changes in the way we treat personal information
    by sending a notice to the primary email address specified in your Trade Talk account or by placing a prominent notice
    on our site.
  </li>
</ul>

<!-- TERMS OF USE -->
<h3>Terms of Use</h3>

<p>
  To use the Australian Stock Market - Trade Talk (“Trade Talk”) website or Mobile App you must agree to the Trade Talk Terms
  of Use below.
</p>

<p>
  Trade Talk complies with ASIC Regulatory Guideline 162 for Internet Discussion Sites. Please visit
  <a href="https://asic.gov.au/">www.asic.gov.au</a> for further information on this guideline.
</p>

<p>
  Disclosure and Warnings to people who view postings on Trade Talk:
</p>
<ol type="a">
  <li>
    Any information posted on the website has been prepared without taking into account your objectives, financial situation
    or needs and as such, you should before acting on the information or advice, consider the appropriateness of the information
    or advice in relation to your objectives, financial situation or needs. Please be aware that any information posted on
    this site should not be considered to be financial product advice.
  </li>
  <li>
    no one is permitted to make postings on Trade Talk in their capacity as a representative of an AFSL Holder or as an Authorised
    representative of an AFSL Holder;
  </li>
  <li>
    postings are at best general information, not professional investment advice prepared by taking into account any individual
    circumstances and needs of particular investors. Therefore, before acting on the basis of what is said in a posting,
    you should:

    <ol type="i">
      <li>
        consider consulting a licensed adviser (ASIC's website at
        <a href="https://asic.gov.au/">www.asic.gov.au</a> has a list of licensed advisers); and
      </li>
      <li>
        visit ASIC's consumer website at
        <a href="https://www.moneysmart.gov.au/">MoneySmart</a> for general guidance about investing
      </li>
    </ol>
  </li>
  <li>
    people making postings are individually responsible for the accuracy and authenticity of their postings;
  </li>
  <li>
    because of the nature of the internet, it may be hard to identify or locate the person making a posting. The person may also
    be in an overseas jurisdiction, so it may be hard to take any legal action against them;
  </li>
  <li>
    you will have no access to ASIC-approved dispute resolution schemes to recover any losses you may suffer by relying on the
    postings;
  </li>
  <li>
    securities cannot be offered to you for sale or issue through postings on the IDS; and
  </li>
  <li>
    it is advisable that you alert Trade Talk or ASIC on 1300 300 630 if you have good reason to suspect that any postings are
    inaccurate, are based on inside information or are likely to mislead or deceive people who view or use the postings.
  </li>
</ol>

<p>
  Disclosure and Warnings to people making postings on Trade Talk:
</p>
<ol type="a">
  <li>
    you are personally responsible for your postings (including any alterations that you make to postings). Therefore, you should
    not include any misleading or deceptive information in your postings and not carry out illegal or unauthorised activities
    using the IDS. Information in postings may, where appropriate, be made available to ASIC. ASIC and people acting on such
    information may take action against you;
  </li>
  <li>
    if you include hyper-links to other sites, you may be seen as endorsing the material on such sites. It may be advisable to
    you to warn people accessing other sites that you do not endorse or take responsibility for material in the hyper-linked
    sites;
  </li>
  <li>
    if you own or have some other interest in a security, or you have any connection with a securities issuer that you might
    benefit from, you must disclose that fact. For example, you may be entitled to receive direct or indirect commissions,
    fees or other benefits from a financial product or service provider; or you may be associated with a particular securities
    issuer such as by being an employee or director of a securities issuer. If so, you must disclose that fact in your posting;
    and
  </li>
  <li>
    if the IDS operator (Trade Talk) finds or reasonably suspects that you are making illegal or unauthorised postings, your
    right to make postings will be withdrawn.
  </li>
  <li>
    No one is permitted to make postings on Trade Talk in their capacity as a representative of an AFSL Holder or as an Authorised
    representative of an AFSL Holder. By accepting these terms you confirm that you will not make postings in your capacity
    as a representative of an AFSL Holder or an authorised representative of an AFSL Holder.
  </li>
</ol>

<h4>1. Acceptance of Terms</h4>
<p>
  Trade Talk provides its service to you subject to the following Terms of Use (&quot;TOU&quot;) which may be updated by us
  from time to time without notice to you. In addition, when using particular Trade Talk owned or operated services, you
  and Trade Talk shall be subject to any posted guidelines or rules applicable to such services which may be updated from
  time to time.
</p>

<h4>2. Description Of Service</h4>
<p>
  Trade Talk currently provides users with access to a rich collection of resources, including, forums, shopping services,
  search services, personalized content and branded programming through its network of properties (the &quot;Service&quot;).
  You also understand and agree that the Service may include advertisements and that these advertisements are necessary for
  Trade Talk to provide the Service. You consent to receiving emails from Trade Talk containing advertisements for 3 rd party
  services. You also understand and agree that the service may include certain communications from Trade Talk, such as service
  announcements, administrative messages, email advertising and Trade Talk Newsletters, and that these communications are
  considered part of Trade Talk membership. You may at any time opt out of receiving email advertising and Trade Talk newsletters,
  however to remain a Trade Talk member with posting privileges you must remain opted-in to receive our communications. Unless
  explicitly stated otherwise, any new features that augment or enhance the current Service, including the release of new
  Trade Talk properties, shall be subject to the TOU. You understand and agree that the Service is provided &quot;AS-IS&quot;
  and that Trade Talk assumes no responsibility for the timeliness, deletion, mis-delivery or failure to store any user communications
  or personalization settings. You are responsible for obtaining access to the Service and that access may involve third
  party fees (such as Internet service provider or airtime charges). You are responsible for those fees, including those
  fees associated with the display or delivery of advertisements. In addition, you must provide and are responsible for all
  equipment necessary to access the Service.
</p>

<h4>3. Your Registration Obligations</h4>
<p>
  In consideration of your use of the Service, you represent that you are of legal age to form a binding contract and are not
  a person barred from receiving services under the laws of Australia or other applicable jurisdiction. You also agree to:
  (a) provide true, accurate, current and complete information about yourself as prompted by the Service&#39;s registration
  form (such information being the &quot;Registration Data&quot;) and (b) maintain and promptly update the Registration Data
  to keep it true, accurate, current and complete. If you provide any information that is untrue, inaccurate, not current
  or incomplete, or Trade Talk has reasonable grounds to suspect that such information is untrue, inaccurate, not current
  or incomplete, Trade Talk has the right to suspend or terminate your account and refuse any and all current or future use
  of the Service (or any portion thereof). Please remember that the Service is designed to appeal to a broad audience. Accordingly,
  as the legal guardian, it is your responsibility to determine whether any of the Services and/or Content (as defined in
  Section 6 below) are appropriate for your child.
</p>

<h4>4. Trade Talk Privacy Policy</h4>
<p>
  Registration data and certain other information about you is subject to our Privacy Policy and you acknowledge and consent
  to Trade Talk using and disclosing your personal information in accordance with the Privacy Policy. For more information,
  see our full privacy policy at
  <a href="https://hotcopper.com.au/help/privacy/">http://www.Trade Talk.com/help/privacy</a>.
</p>

<h4>5. Personal Password & Security</h4>
<p>
  If you are a new user you will receive a password and account designation upon completing the Service&#39;s registration
  process. Existing users will have this already. You are responsible for maintaining the confidentiality of the password
  and account, and are fully responsible for all activities that occur under your password or account. You agree to (a) immediately
  notify Trade Talk of any unauthorised use of your password or account or any other breach of security, and (b) ensure that
  you exit from your account at the end of each session. Trade Talk cannot and will not be liable for any loss or damage
  arising from your failure to comply with this Section 5.
</p>

<h4>6. Member Conduct</h4>
<p>
  You understand that all information, data, text, photographs, graphics, or other materials (&quot;Content&quot;), whether
  publicly posted or privately transmitted, are the sole responsibility of the person from which such Content originated.
  This means that you, and not Trade Talk, are entirely responsible for all Content that you upload, post, email, transmit
  or otherwise make available via the Service. Trade Talk does not control the Content posted via the Service and, as such,
  does not guarantee the accuracy, integrity or quality of such Content. You understand that by using the Service, you may
  be exposed to Content that is offensive, indecent or objectionable. Under no circumstances will Trade Talk be liable in
  any way for any Content, including, but not limited to, for any errors or omissions in any Content, or for any loss or
  damage of any kind incurred as a result of the use of any Content posted, emailed, transmitted or otherwise made available
  via the Service.
</p>

<p>
  You agree to not use the Service to:
</p>
<ul>
  <li>
    upload, post, email, transmit or otherwise make available any Content that is unlawful, harmful, threatening, abusive, harassing,
    tortious, defamatory, vulgar, obscene, libellous, invasive of another&#39;s privacy, hateful, or racially, ethnically
    or otherwise objectionable;
  </li>
  <li>
    harm minors in any way;
  </li>
  <li>
    impersonate any person or entity, including, but not limited to, a Trade Talk official, forum leader, guide or host, or falsely
    state or otherwise misrepresent your affiliation with a person or entity;
  </li>
  <li>
    forge headers or otherwise manipulate identifiers in order to disguise the origin of any Content transmitted through the
    Service;
  </li>
  <li>
    upload, post, email, transmit or otherwise make available any Content that you do not have a right to make available under
    any law or under contractual or fiduciary relationships (such as inside information, proprietary and confidential information
    learned or disclosed as part of employment relationships or under nondisclosure agreements);
  </li>
  <li>
    upload, post, email, transmit or otherwise make available any Content that infringes any patent, trademark, trade secret,
    copyright or other proprietary rights (&quot;Rights&quot;) of any party;
  </li>
  <li>
    upload, post, email, transmit or otherwise make available any unsolicited or unauthorised advertising, promotional materials,
    &quot;junk mail,&quot; &quot;spam,&quot; &quot;chain letters,&quot; &quot;pyramid schemes,&quot; or any other form of
    solicitation, except in those areas (such as shopping rooms) that are designated for such purpose;
  </li>
  <li>
    upload, post, email, transmit or otherwise make available any material that contains software viruses or any other computer
    code, files or programs designed to interrupt, destroy or limit the functionality of any computer software or hardware
    or telecommunications equipment;
  </li>
  <li>
    disrupt the normal flow of dialogue, cause a screen to &quot;scroll&quot; faster than other users of the Service are able
    to type, or otherwise act in a manner that negatively affects other users&#39; ability to engage in real time exchanges;
  </li>
  <li>
    interfere with or disrupt the Service or servers or networks connected to the Service, or disobey any requirements, procedures,
    policies or regulations of networks connected to the Service;
  </li>
  <li>
    intentionally or unintentionally violate any applicable local, state, national or international law, including, but not limited
    to, regulations promulgated by the U.S. Securities and Exchange Commission, ASIC, any rules of any national or other
    securities exchange, including, without limitation, the Australian Stock Exchange, the New York Stock Exchange, the American
    Stock Exchange or the NASDAQ, and any regulations having the force of law;
  </li>
  <li>
    harass another member; or
  </li>
  <li>
    collect or store personal data about other users.
  </li>
</ul>

<p>
  You acknowledge that Trade Talk may or may not pre-screen Content, but that Trade Talk and its designees shall have the right
  (but not the obligation) in their sole discretion to pre-screen, refuse, or move any Content that is available via the
  Service. Without limiting the foregoing, Trade Talk and its designees shall have the right to remove any Content that violates
  the TOU or is otherwise objectionable. You agree that you must evaluate, and bear all risks associated with, the use of
  any Content, including any reliance on the accuracy, completeness, or usefulness of such Content. In this regard, you acknowledge
  that you may not rely on any Content created by Trade Talk or submitted to Trade Talk, including without limitation information
  in Trade Talk Message Boards, and in all other parts of the Service.
</p>

<p>
  You acknowledge, consent and agree that Trade Talk may access, preserve, and disclose your account information and Content
  if required to do so by law or in a good faith belief that such access preservation or disclosure is reasonably necessary
  to: (a) comply with legal process; (b) enforce the TOU; (c) respond to claims that any Content violates the rights of third-parties;
  (d) respond to your requests for customer service; or (e) protect the rights, property, or personal safety of Trade Talk,
  its users and the public.
</p>

<p>
  You understand that the technical processing and transmission of the Service, including your Content, may involve (a) transmissions
  over various networks; and (b) changes to conform and adapt to technical requirements of connecting networks or devices.
</p>

<p>
  You understand that the Service and software embodied within the Service may include security components that permit digital
  materials to be protected, and use of these materials is subject to usage rules set by Trade Talk and/or content providers
  who provide content to the Service. You may not attempt to override or circumvent any of the usage rules embedded into
  the Service. Any unauthorised reproduction, publication, further distribution or public exhibition of the materials provided
  on the Service, in whole or in part, is strictly prohibited.
</p>

<h4>7. Special Admonitions For International Use</h4>
<p>
  Recognizing the global nature of the Internet, you agree to comply with all local rules regarding online conduct and acceptable
  Content. Trade Talk is not intended for people outside of Australia and New Zealand.
</p>

<h4>Content Submitted Or Made Available For Inclusion On The Service</h4>
<p>
  Trade Talk does not claim ownership of Content you submit or make available for inclusion on the Service. However, with respect
  to Content you submit or make available for inclusion on publicly accessible areas of the Service, you grant Trade Talk
  the following world-wide, royalty free and non-exclusive license(s), as applicable:
</p>

<ul>
  <li>
    • With respect to Content other than photos, graphics, audio or video you submit or make available for inclusion on publicly
    accessible areas of the Service other than Trade Talk Groups, the perpetual, irrevocable and fully sublicensable license
    to use, distribute, reproduce, modify, adapt, publish, translate, publicly perform and publicly display such Content
    (in whole or in part) and to incorporate such Content into other works in any format or medium now known or later developed.
  </li>
</ul>

<p>
  "Publicly accessible" areas of the Service are those areas of the Trade Talk network of properties that are intended by Trade
  Talk to be available to the general public. By way of example, publicly accessible areas of the Service would include Trade
  Talk Message Boards.
</p>

<h4>9. Copyright Infringement</h4>
<p>
  Trade Talk makes no representations or warranties with respect to the ownership of, or copyright in, content on this website
  uploaded, linked or otherwise disseminated by users of our service and in no way represent others who claim to be authors,
  creators or owners of copyright or other rights thereto. You shall obtain all permission(s) when required and are solely
  responsible for determining the existence of such rights, satisfying any copyright or other use restrictions, intangible
  rights, or related interests for obtaining any and all permissions and releases, for guarding against the infringement
  of those rights that may be held elsewhere, and for paying any associated fees necessary for the reproduction or use of
  the materials and for rights to any proprietary material depicted, and you expressly assume all responsibility for observing
  applicable laws of copyright, literary right, trespass, conversion, property right, privacy, publicity and defamation.
</p>

<h4>10. Indemntiy</h4>
<p>
  You agree to indemnify and hold Trade Talk, and its subsidiaries, affiliates, officers, agents, co-branders or other partners,
  and employees, harmless from any claim or demand, including but not limited to any claim by a third party for defamation,
  including reasonable attorneys' fees, made by any third party due to or arising out of Content you submit, post, transmit
  or make available through the Service, your use of the Service, your connection to the Service, your violation of the TOU,
  or your violation of any rights of another.
</p>

<p>
  You agree that should you find any offending information, on the Trade Talk website you will immediately contact Trade Talk
  support via the support feature available on the website and ask that it be removed. This includes any content that could
  reasonably be regarded as likely to be defamatory, misleading or deceptive, or which would amount to illegal or unauthorised
  activities (for example insider trading or unauthorised offerings of securities). You also agree that Trade Talk has 24
  business hours to remove the offending material.
</p>

<h4>11. No Resale of Service</h4>
<p>
  You agree not to reproduce, duplicate, copy, sell, trade, resell or exploit for any commercial purposes, any portion of the
  Service (including your Trade Talk account), use of the Service, or access to the Service.
</p>

<h4>12. Use of Prohibited Software</h4>
<p>
  You must not use any spider, robot, crawler, screen scraper, or other automated similar software, process or device ("Prohibited
  Software") to use or access the Service in any way whatsoever, nor can you use any Prohibited Software (or any similar
  process) to copy, download or monitor the Service. Search engines may access and index Content on the Service provided
  that they obey the Robots Exclusion Standard and exclude pages with METATAG markings that are designed to prevent access
  including indexing, archiving or caching.
</p>

<h4>13. General Practices Regarding Use And Storage</h4>
<p>
  You acknowledge that Trade Talk may establish general practices and limits concerning use of the Service, including without
  limitation the maximum number of days that email messages, message board postings or other uploaded Content will be retained
  by the Service, the maximum number of email messages that may be sent from or received by an account on the Service, the
  maximum disk space that will be allotted on Trade Talk's servers on your behalf, and the maximum number of times (and the
  maximum duration for which) you may access the Service in a given period of time. You agree that Trade Talk has no responsibility
  or liability for the deletion or failure to store any messages and other communications or other Content maintained or
  transmitted by the Service. You acknowledge that Trade Talk reserves the right to log off accounts that are inactive for
  an extended period of time. You further acknowledge that Trade Talk reserves the right to modify these general practices
  and limits from time to time.
</p>

<h4>14. Modifications To Service</h4>
<p>
  Trade Talk reserves the right at any time and from time to time to modify or discontinue, temporarily or permanently, the
  Service (or any part thereof) with or without notice. You agree that Trade Talk shall not be liable to you or to any third
  party for any modification, suspension or discontinuance of the Service.
</p>

<h4>15. Termination</h4>
<p>
  You agree that Trade Talk may, under certain circumstances and without prior notice, immediately terminate your Trade Talk
  account and access to the Service. Cause for such termination shall include, but not be limited to, (a) breaches or violations
  of the TOU or other incorporated agreements or guidelines, (b) requests by law enforcement or other government agencies,
  (c) a request by you (self-initiated account deletions), (d) discontinuance or material modification to the Service (or
  any part thereof), (e) unexpected technical or security issues or problems, and (f) extended periods of inactivity. Termination
  of your Trade Talk account includes (a) removal of access to all offerings within the Service, (b) removal of access to
  the account (or any part thereof), and (c) barring further use of the Service. Further, you agree that all terminations
  for cause shall be made in Trade Talk's sole discretion and that Trade Talk shall not be liable to you or any third-party
  for any termination of your account, any associated email address, or access to the Service.
</p>

<h4>16. Dealings With Advertisers</h4>
<p>
  Your correspondence or business dealings with, or participation in promotions of, advertisers found on or through the Service,
  including payment and delivery of related goods or services, and any other terms, conditions, warranties or representations
  associated with such dealings, are solely between you and such advertiser. You agree that Trade Talk shall not be responsible
  or liable for any loss or damage of any sort incurred as the result of any such dealings or as the result of the presence
  of such advertisers on the Service.
</p>

<h4>17. Links</h4>
<p>
  The Service may provide, or third parties may provide, links to other World Wide Web sites or resources. Because Trade Talk
  has no control over such sites and resources, you acknowledge and agree that Trade Talk is not responsible for the availability
  of such external sites or resources, and does not endorse and is not responsible or liable for any Content, advertising,
  products, or other materials on or available from such sites or resources. You further acknowledge and agree that Trade
  Talk shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused
  by or in connection with use of or reliance on any such Content, goods or services available on or through any such site
  or resource.
</p>

<h4>18. Trade Talk's Proprietary Rights</h4>
<p>
  You acknowledge and agree that the Service and any necessary software used in connection with the Service ("Software") contain
  proprietary and confidential information that is protected by applicable intellectual property and other laws. You further
  acknowledge and agree that Content contained in sponsor advertisements or information presented to you through the Service
  or advertisers is protected by copyrights, trademarks, service marks, patents or other proprietary rights and laws. Except
  as expressly authorized by Trade Talk or advertisers, you agree not to modify, rent, lease, loan, sell, distribute or create
  derivative works based on the Service or the Software, in whole or in part.
</p>

<p>
  Trade Talk grants you a personal, non-transferable and non-exclusive right and license to use the object code of its Software
  on a single computer; provided that you do not (and do not allow any third party to) copy, modify, create a derivative
  work of, reverse engineer, reverse assemble or otherwise attempt to discover any source code, sell, assign, sublicense,
  grant a security interest in or otherwise transfer any right in the Software. You agree not to modify the Software in any
  manner or form, or to use modified versions of the Software, including (without limitation) for the purpose of obtaining
  unauthorised access to the Service. You agree not to access the Service by any means other than through the interface that
  is provided by Trade Talk for use in accessing the Service.
</p>

<h4>19. Disclaimer Of Warranties</h4>
<p>
  You expressly understand and agree that:
</p>

<ol type="a">
  <li>
    Your use of the service is at your sole risk. The service is provided on an "as is" and "as available" basis. Trade Talk
    expressly disclaims all warranties of any kind, whether express or implied, including, but not limited to the implied
    warranties of merchantability, fitness for a particular purpose and non-infringement.
  </li>
  <li>
    Trade Talk makes no warranty that (i) the service will meet your requirements, (ii) the service will be uninterrupted, timely,
    secure, or error-free, (iii) the results that may be obtained from the use of the service will be accurate or reliable,
    (iv) the quality of any products, services, information, or other material purchased or obtained by you through the service
    will meet your expectations, and (v) any errors in the software will be corrected.
  </li>
  <li>
    Any material downloaded or otherwise obtained through the use of the service is done at your own discretion and risk and
    that you will be solely responsible for any damage to your computer system or loss of data that results from the download
    of any such material.
  </li>
  <li>
    No advice or information, whether oral or written, obtained by you from Trade Talk or through or from the service shall create
    any warranty not expressly stated in the TOU.
  </li>
  <li>
    Due to the global nature of the internet, users outside of Australian or New Zealand jurisdiction may access Trade Talk.
    Trade Talk is not intended to be a forum for discussion of securities that may be offered outside of the jurisdiction,
    nor is it intended for use by a person outside of the jurisdiction. As such, Trade Talk is not subject to regulatory
    controls that may exist outside of the jurisdiction.
  </li>
</ol>

<h4>20. Limitation Of Liability</h4>
<p>
  You expressly understand and agree that Trade Talk shall not be liable to you for any direct, indirect, incidental, special,
  consequential or exemplary damages, including but not limited to, damages for loss of profits, goodwill, use, data or other
  intangible losses (even if Trade Talk has been advised of the possibility of such damages), resulting from: (i) the use
  or the inability to use the service; (ii) the cost of procurement of substitute goods and services resulting from any goods,
  data, information or services purchased or obtained or messages received or transactions entered into through or from the
  service; (iii) unauthorised access to or alteration of your transmissions or data; (iv) statements or conduct of any third
  party on the service; or (v) any other matter relating to the service.
</p>

<h4>21. Exclusions And Limitations</h4>
<p>
  Some jurisdictions do not allow the exclusion of certain warranties or the limitation or exclusion of liability for incidental
  or consequential damages. Accordingly, some of the above limitations of sections 18 and 19 may not apply to you.
</p>

<h4>22. Special Admonition For Services Relating To Financial Matters</h4>
<p>
  If you intend to create or join any service, receive or request any news, messages, alerts or other information from the
  Service concerning companies, stock quotes, investments or securities, please read the above Sections 18 and 19. In addition,
  for this type of information particularly, the phrase "let the investor beware" is apt. The Service is provided for informational
  purposes only, and no Content included in the Service is intended for trading or investing purposes. Trade Talk and its
  licensors shall not be responsible or liable for the accuracy, usefulness or availability of any information transmitted
  or made available via the Service, and shall not be responsible or liable for any trading or investment decisions made
  based on such information.
</p>

<h4>23. No Third Party Beneficiaries</h4>
<p>
  You agree that, except as otherwise expressly provided in this TOU, there shall be no third party beneficiaries to this Agreement.
</p>

<h4>24. Notice</h4>
<p>
  Trade Talk may provide you with notices, including those regarding changes to the TOU, by email, regular mail, or postings
  on the Service
</p>

<h4>25. General Information</h4>
<p>
  Entire Agreement. The TOU constitute the entire agreement between you and Trade Talk and govern your use of the Service,
  superseding any prior agreements between you and Trade Talk. You also may be subject to additional terms and conditions
  that may apply when you use or purchase certain other Trade Talk services, affiliate services, third-party content or third-party
  software.
</p>

<p>
  Choice of Law and Forum. The TOU and the relationship between you and Trade Talk shall be governed by the laws of the State
  of Western Australia without regard to its conflict of law provisions. You and Trade Talk agree to submit to the personal
  and exclusive jurisdiction of the courts located within the city of Perth, Western Australia.
</p>

<p>
  Waiver and Severability of Terms. The failure of Trade Talk to exercise or enforce any right or provision of the TOU shall
  not constitute a waiver of such right or provision. If any provision of the TOU is found by a court of competent jurisdiction
  to be invalid, the parties nevertheless agree that the court should endeavour to give effect to the parties' intentions
  as reflected in the provision, and the other provisions of the TOU remain in full force and effect.
</p>

<p>
  No Right of Survivorship and Non-Transferability. You agree that your Trade Talk account is non-transferable and any rights
  to your Trade Talk account or contents within your account terminate upon your death. Upon receipt of a copy of a death
  certificate, your account may be terminated and all contents therein permanently deleted.
</p>

<p>
  Statute of Limitations. You agree that regardless of any statute or law to the contrary, any claim or cause of action arising
  out of or related to use of the Service or the TOU must be filed within one (1) year after such claim or cause of action
  arose or be forever barred.
</p>

<p>
  The section titles in the TOU are for convenience only and have no legal or contractual effect.
</p>

<h4>26. Violations</h4>
<p>
  Please report any violations of the TOU to Trade Talk Support via the support feature available on the Trade Talk website.
</p>